:root{
  --primary: #111111;
  --second: #5D6165;
  --logo-color1: #148EFF; 
  --logo-color2: #025CCA;
  --light-background: #EFEFEF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  align-items: center;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--light-background);
}